<!-- ================ start footer Area ================= -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Corpers Online</h6>
                    <p>
                        We know Service Year is hard enough for most. Settling in, in a new environment, and getting started is quite challenging. We realise this a lot and want to help. We provide a platform where you can produce and digest relevant information and resources to ease the rigorous aspects of  service year. It is a great forum for meeting and making life long friends, a very interactive environment where you will undoubtedly develop unforgettable experiences. <b><a href="/signup">Join the network</a></b>.
                        <!-- The world has become so fast paced that people don't want to stand by reading a page of information to be informed, they would much rather look at a presentation and understand -->
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/signup">Sign Up</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                                <li><a href="/careers">We're hiring!</a></li>
                            </ul>
                        </div>
                        <!-- <div class="col">
                        <ul>
                          <li><a href="#!">Team</a></li>
                          <li><a href="#!">Pricing</a></li>
                          <li><a href="#!">Blog</a></li>
                          <li><a href="#!">Contact</a></li>
                        </ul>
                      </div>	 -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>
                        <!-- give alot of metrics, prices of routes from different bus parks to the other. tell them about SPAs, get affiliated with companies willing to hire corpers. tell them about Government Laws, new, old and the ones under delibrations and how it affects them, tell them to give their input. what's happening to them, they can leave reviews about their lodges and the area they lived/ served in/at. park the newsletter with graphics. relevent graphics. just tell them alot. worthwhile stuffs. -->
                        Subscribe! Be in the know on stuffs that definately benefits you and gives you insight during your service year. And also if you're intrested in mediocre print, presentations and graphic output relevant for your Service Year, things you can understand. We'd also tell you what we're up to.
                    </p>
                    <div >
                        <form  id="sublist" >
                            <div class="input-group d-flex flex-row">
                                <input name="email" placeholder="Email Address" autocomplete="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="true" type="email">
                                <button class="btn bb-btn" type="submit"><span class="fas fa-paper-plane"></span></button>
                                <!-- <input type="submit" class="btn bb-btn" value=""> -->
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                        <div id="submsg"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="row align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left">
                    &copy; <%= current_year %> For corpers by corpers with <i class="fa fa-heart" aria-hidden="true"></i>
                    <!-- try putting words in between the i [it shouldn't be <i> tag, i mean icon tag] tag to see it it shows when the icons does (loads) or doesn't show (load) -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
                    <a href="https://www.facebook.com/CorpersOnline/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/OnlineCorpers" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/corpersonline/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ================ End footer Area ================= -->

<script>
    // script for saying hi
    function sublist() {

        // use fetch api later on or NOT https://gomakethings.com/why-i-still-use-xhr-instead-of-the-fetch-api/
        var XHR = new XMLHttpRequest();

        // Bind the FormData object and the form element
        var FD = new FormData( sublistform );
        

        // Define what happens on successful data submission
        XHR.addEventListener("load", function( event ) {
          if (event.target.responseText == 'OK') {
                // say thank you
                document.getElementById('submsg').innerHTML = 'Great! You subscribed.';
                document.getElementById("sublist").reset();
                // clear the message
                setTimeout(function() {
                    document.getElementById('submsg').innerHTML = "";
                }, 4000);
            } else if (event.target.status == 406) { // 'Not Acceptable'
                document.getElementById('submsg').innerHTML = 'We have you in our list already. :(';
                // clear the message
                setTimeout(function() {
                    document.getElementById('submsg').innerHTML = "";
                }, 4000);
            } else { // 'Not Acceptable'
                document.getElementById('submsg').innerHTML = 'We had an error. Please try again.';
                // clear the message
                setTimeout(function() {
                    document.getElementById('submsg').innerHTML = "";
                }, 4000);
            }
        });

        // Define what happens in case of error
        XHR.addEventListener( "error", function( event ) {
            alert( 'Oops! Something went wrong.' );
        } );

        // Set up our request
        XHR.open( 'POST', '/subscribe', true ); // true makes it async request

        // The data sent is what the user provided in the form
        XHR.send( FD );
    }

    // Access the form element...
    var sublistform = document.getElementById( "sublist" );
    
    // ...and take over its submit event.
    sublistform.addEventListener("submit", function( event ) {
        event.preventDefault(); // the default behaviour is refreshing the page and adding search params to the url

        sublist();
    }, false, true ); // https://developer.mozilla.org/en-US/docs/Web/Events/submit
</script>