<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us - Corpers Online</title>
    <link rel="icon" href="assets/images/1/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous"/>

    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Corpers Online">
    <meta itemprop="description" content="Contact Us. We're itching to hear anything from you. Also buy & sell household items. Find accommodation, PPAs.">
    <meta itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://corpers.online">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Contact Us. We're itching to hear anything from you. Also buy & sell household items. Find accommodation, PPAs.">
    <meta property="og:site_name" content="Corpers Online"> <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Buy & sell household items. Find accommodation, PPAs."><!-- Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria -->
    <meta property="og:image:secure_url" itemprop="image" content="https://corpers.online/assets/images/rule28.png">
    <meta property="og:image" itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!--  Non-Essential, But Required for Analytics -->

    <!-- <meta property="fb:app_id" content="your_app_id" /> -->
    <meta name="twitter:site" content="@OnlineCorpers">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contact Us. We're itching to hear anything from you. Also buy & sell household items. Find accommodation, PPAs.">
    <meta name="twitter:description" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta name="twitter:image" content="https://corpers.online/assets/images/rule28.png">

    <meta name="twitter:image:alt" content="Corpers helping other corpers">

    <script async defer data-website-id="58dce5f5-c238-4e98-b2c6-e701c258f01d" src="https://using-umami.herokuapp.com/umami.js"></script>

    <style>
        .paragraph {
            font-size: large;
        }
    </style>
</head>

<body>

    <!--================ Header Menu Area start =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="/"><img src="assets/images/1/android-icon-48x48.png" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/map">Maps</a>
                                <!-- <li class="nav-item submenu dropdown">
                <a href="#!" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="amentities.html">Amentities</a>                 
                </ul>
							</li>

              <li class="nav-item submenu dropdown">
                <a href="#!" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Blog</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="blog.html">Blog Single</a></li>
                  <li class="nav-item"><a class="nav-link" href="blog-details.html">Blog Details</a></li>
                </ul>
							</li> -->
                            <li class="nav-item active"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->



    <!--================Hero Banner SM Area Start =================-->
    <section class="hero-banner magic-ball magic-ball-banner" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 0px -80px" data-top-bottom="background-position: 0 100px">
        <div class="container">
            <div class="pb-4">
                <h1>About Us</h1>
                <p class="paragraph">Corpers Online is Nigeria's largest online gathering of Corp members. It's a great platform that offers tons of features strictly designed to help Corp members have the best experience during their service year. 
                    New and prospective Corp members can access and interact with current Corp members to get relevant information concerning any fears, or questions they may be having, and also learn more about the environment they would soon be moving into.
                </p>
                <p class="paragraph">
                    Old and outgoing Corp members can also earn a few bucks by selling their used items such as mattresses, reading desks, stools, sofas, carpets, TVs, pots, buckets etc at reasonable prizes to new Corp members, rather than juggle it all the way back home again.
                    Corpers can also easily gain access to affordable accommodation and quickly find their way through their new environment with our awesome map feature. It is a great platform for meeting and making life long friends, through which you will undoubtedly develop unforgettable experiences.
                    Check out and learn more about our awesome features/services <a href="/signup">here</a>.
                </p>
            </div>
        </div>
    </section>
    <!--================Hero Banner SM Area End =================-->

    <!-- ================ start footer Area ================= -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Corpers Online</h6>
                        <p>
                            Service year is hard enough already for most. We realise this a lot and want to help. We provide you with
                            relevant information and resources to help ease everything as much as we can. Join the network.
                            <!-- The world has become so fast paced that people don't want to stand by reading a page of information to be informed, they would much rather look at a presentation and understand -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Navigation Links</h6>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/map">Maps</a></li>
                                </ul>
                            </div>
                            <!-- <div class="col">
                      <ul>
                        <li><a href="#!">Team</a></li>
                        <li><a href="#!">Pricing</a></li>
                        <li><a href="#!">Blog</a></li>
                        <li><a href="#!">Contact</a></li>
                      </ul>
                    </div>	 -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>
                            <!-- give alot of metrics, prices of routes from different bus parks to the other. tell them about SPAs, get affiliated with companies willing to hire corpers. tell them about Government Laws, new, old and the ones under delibrations and how it affects them, tell them to give their input. what's happening to them, they can leave reviews about their lodges and the area they lived/ served in/at. park the newsletter with graphics. relevent graphics. just tell them alot. worthwhile stuffs. -->
                            Be in the know of what we're up to, stuffs that definately benefit you during your service year, and also if
                            you're intrested in mediocre print and graphic output, things you can understand.
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="row align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy; <%= current_year %> For corpers by corpers with <i class="fa fa-heart" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
                        <a href="https://www.facebook.com/CorpersOnline/" target="_blank"><i class="fab fa-facebook-f"></i></a><!-- or fa-facebook-f -->
                        <a href="https://twitter.com/OnlineCorpers" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/corpersonline/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->

    <script>
        // script for saying hi
        function sublist() {

            // use fetch api later on or NOT https://gomakethings.com/why-i-still-use-xhr-instead-of-the-fetch-api/
            var XHR = new XMLHttpRequest();

            // Bind the FormData object and the form element
            var FD = new FormData(form);


            // Define what happens on successful data submission
            XHR.addEventListener("load", function(event) {
                // alert(event.target.responseText);
                console.log(event.target.responseText);

                if (event.target.responseText == 'OK') {
                    document.getElementById('submsg').innerHTML = 'You\'ve subscribed and rock too.';
                    document.getElementById("sublist").reset();
                    // clear the message
                    setTimeout(function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000);
                } else { // 'Not Acceptable'
                    document.getElementById('submsg').innerHTML = 'We have you in our list already. Boss.';
                    // clear the message
                    setTimeout(function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000);
                }
                // say thank you

            });

            // Define what happens in case of error
            XHR.addEventListener("error", function(event) {
                alert('Oops! Something went wrong.');
            });

            // Set up our request
            XHR.open('POST', '/subscribe', true); // true makes it async request

            // The data sent is what the user provided in the form
            XHR.send(FD);
        }

        // Access the form element...
        var form = document.getElementById("sublist");

        // ...and take over its submit event.
        form.addEventListener("submit", function(event) {
            event.preventDefault(); // the default behaviour is refreshing the page and adding search params to the url

            sublist();
        }, false, true); // https://developer.mozilla.org/en-US/docs/Web/Events/submit
    </script>


    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/Magnific-Popup/jquery.magnific-popup.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script> -->
    <!-- <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/contact.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script> -->
    <!-- <script src="js/mail-script.js"></script>
  <script src="js/skrollr.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>	
  <script src="js/main.js"></script> -->
</body>

</html>