<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us - Corpers Online</title>
    <link rel="icon" href="assets/images/1/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Corpers Online">
    <meta itemprop="description" content="Contact Us. We're itching to hear anything from you. Also buy & sell household items. Find accommodation, PPAs.">
    <meta itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://corpers.online">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Contact Us. We're itching to hear anything from you. Also buy & sell household items. Find accommodation, PPAs.">
    <meta property="og:site_name" content="Corpers Online"> <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Buy & sell household items. Find accommodation, PPAs."><!-- Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria -->
    <meta property="og:image:secure_url" itemprop="image" content="https://corpers.online/assets/images/rule28.png">
    <meta property="og:image" itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!--  Non-Essential, But Required for Analytics -->

    <!-- <meta property="fb:app_id" content="your_app_id" /> -->
    <meta name="twitter:site" content="@OnlineCorpers">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contact Us. We're itching to hear anything from you. Also buy & sell household items. Find accommodation, PPAs.">
    <meta name="twitter:description" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta name="twitter:image" content="https://corpers.online/assets/images/rule28.png">

    <meta name="twitter:image:alt" content="Corpers helping other corpers">

    <script async defer data-website-id="58dce5f5-c238-4e98-b2c6-e701c258f01d" src="https://using-umami.herokuapp.com/umami.js" data-domains="corpers.online,www.corpers.online"></script>

    <style>
        .paragraph {
            font-size: large;
        }
    </style>
</head>

<body>

    <!--================ Header Menu Area start =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="/"><img src="assets/images/1/android-icon-48x48.png" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="/map">Maps</a> -->
                                <!-- <li class="nav-item submenu dropdown">
                <a href="#!" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="amentities.html">Amentities</a>                 
                </ul>
							</li>

              <li class="nav-item submenu dropdown">
                <a href="#!" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Blog</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="blog.html">Blog Single</a></li>
                  <li class="nav-item"><a class="nav-link" href="blog-details.html">Blog Details</a></li>
                </ul>
							</li> -->
                            <li class="nav-item active"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    <!--================Hero Banner SM Area Start =================-->
    <section class="hero-banner" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 0px -80px" data-top-bottom="background-position: 0 100px">
        <div class="container">
            <div class="pb-4">
                <h1>About Us</h1>
                <p class="paragraph">Corpers Online is Nigeria's largest online gathering of Corp members. It's a great platform that offers tons of features strictly designed to help Corp members have the best experience during their service year. 
                    New and prospective Corp members can access and interact with current Corp members to get relevant information concerning any fears, or questions they may be having, and also learn more about the environment they would soon be moving into.
                </p>
                <p class="paragraph">
                    Old and outgoing Corp members can also earn a few bucks by selling their used items such as mattresses, reading desks, stools, sofas, carpets, TVs, pots, buckets etc at reasonable prizes to new Corp members, rather than juggle it all the way back home again.
                    Corpers can also easily gain access to affordable accommodation and quickly find their way through their new environment with our awesome map feature. It is a great platform for meeting and making life long friends, through which you will undoubtedly develop unforgettable experiences.
                    Check out and learn more about our awesome features/services <a href="/signup">here</a>.
                </p>
            </div>
        </div>
    </section>
    <!--================Hero Banner SM Area End =================-->

    <%- include('partials/footer'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    
</body>

</html>