<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta name="description" content="Provide real time info for other corpers. Information like household items for sale, accommodation space, directions to PPAs, SPAs.">
    <meta name="keywords" content="Corpers, Online, Accommodation, Rent, NYSC, Service Year, Ajuwaya, Nigeria, Lodge, Apartments, PPA, SPA, Office, Secretariat, LGA, Batch">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">

    <link rel="canonical" href="https://corpers.online">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Corpers Online">
    <meta itemprop="description" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://corpers.online">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Find and acquire apartments, PPAs and places. Buy eg. household goods from, and sell, to corpers.">
    <meta property="og:site_name" content="Corpers Online"> <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Buy & sell household items. Find accommodation, PPAs."><!-- Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria -->
    <meta property="og:image:secure_url" itemprop="image" content="https://corpers.online/assets/images/rule28.png">
    <meta property="og:image" itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!--  Non-Essential, But Required for Analytics -->

    <!-- <meta property="fb:app_id" content="your_app_id" /> -->
    <meta name="twitter:site" content="@OnlineCorpers">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Find and acquire apartments, PPAs, and NYSC hangouts. Buy household goods from, and sell, to corpers.">
    <meta name="twitter:description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
    <meta name="twitter:image" content="https://corpers.online/assets/images/rule28.png">

    <meta name="twitter:image:alt" content="Corpers helping other corpers">


    <meta name="author" content="Corpers">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corpers Online - Buy & sell household items. Find accommodation, PPAs, & major places.</title>
    <link rel="icon" href="assets/images/logo32x32.png" type="image/png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />

    <link rel="stylesheet" href="assets/css/style.css">
    <style>
      @media (min-width: 576px) {
        .typeahead__list{
        max-height: 500px;
        overflow-y: scroll;
      }
      }

      @media (max-width: 576px) {
        .typeahead__search-icon{
          padding: 0 0.5rem !important;
        }
        #s{
          padding-right: 0.75rem;
        }
      }

      .search-div {
        width: 50%;
      }
      #s {
        padding-right: 0px;
      }
      
    </style>
</head>

<body class="bg-shape">

    <!--================ Header Menu Area start =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="/"><img src="assets/images/corpers-online-logo-120x32.png" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset justify-content-between" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-start">
                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/map">Maps</a>
                                <!-- <li class="nav-item submenu dropdown">
                                      <a href="#!" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false">Pages</a>
                                      <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="amentities.html">Amentities</a>                 
                                      </ul>
                                    </li>

                                    <li class="nav-item submenu dropdown">
                                      <a href="#!" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false">Blog</a>
                                      <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog Single</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-details.html">Blog Details</a></li>
                                      </ul>
                                    </li> -->
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>

                        <div class="nav-right text-lg-right py-4 py-lg-0 search-div">
                            <!-- <a class="button text-center" href="/login">Get Started</a> -->

                            <form id="form-search" action="/search" name="form-search" class="mr-md-3">
                                <div class="typeahead__container">
                                    <div class="typeahead__field">
                                        <div class="typeahead__query">
                                            <input id="s" name="search[query]" type="search" placeholder="Search for accommodations, & sales." autocomplete="off" inputmode="search">
                                        </div>
                                        <div class="typeahead__button">
                                            <button type="submit">
                                                <i class="typeahead__search-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->


    <!--================Hero Banner Area Start =================-->
    <section class="hero-banner magic-ball">
        <div class="container">

            <div class="row align-items-center text-center text-md-left">
                <div class="col-md-12 col-lg-12 mb-5 mb-md-0">
                    <h1>We do better when we work together, Let's serve ourselves too.<!-- What we're all about --></h1>
                </div>
            </div>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!--================Tour section Start =================-->
    <section class="section-margin pb-xl-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h2>Sell Anything</h2>
                <p>Post your used items for thousands of corpers  to buy. No need to juggle all those cumbersome  items back home. Get a stress-free home return as you pass out, and make some money in the process. Sell off with ease the items you used during your service year. There’s a ready market of new corpers hoping to buy from you!</p>
                <a class="button button-hero" href="/signup" style="color: white;">Sell Now</a>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/sell-anything.svg" alt="">
            <!-- <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Paris tour offer</h4>
                  <small>5 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$65/day</h4>
                </div>
              </div>
            </div> -->
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h2>Buy Anything</h2>
                <p>Just beginning your service year? Fret not, We got you covered! Explore our Mami market and buy all the items you’d need from passing out corpers at amazingly affordable prizes. The good news is, you can just as easily sell them off when you pass out too!</p>
                <a class="button button-hero" style="color: white;">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/buy-anything.svg" alt="">
            <!-- <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Paris tour offer</h4>
                  <small>5 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$65/day</h4>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <!-- <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Connect and network with corpers who can help you</h3>
                <p>Share experiences, create relationship, ask questions and learn from longer serving corpers all the information you’d need about service year, PPAs, SPAs, etc.</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/connect-with-corpers.svg" alt="connect with corpers">
            
          </div>
        </div> -->

        <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Find Accommodation</h3>
                <p>Escape the stress of finding and furnishing a house. Locate available service apartments, corpers lodges and NCCF family house nearest to you.</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/find-accommodation.svg" alt="">
            
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Explore our Maps</h3>
                <p>You can’t get lost when you use our navigation system. Know and locate important places with ease.</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/explore-maps.svg" alt="">
            
          </div>
        </div>
      </div>
        
      </div>

      <hr>

      <div class="row">
        <!-- <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Get more job experience</h3>
                <p>Got some spare time? Don’t waste it. Activate your leadership, develop work experience and build your CV by volunteering with any of our partner organisations near you.</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/more-job-experience.svg" alt="you can get more job experience">
          </div>
        </div> -->

        <!-- <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Gain access to free trainings</h3>
                <p>Build your entrepreneurial skills and prepare yourself for the labour market by leveraging on our vast sponsored trainings. Its free!</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/access-free-training.svg" alt="">
            
          </div>
        </div> -->

        <!-- <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Straight to camp buses</h3>
                <p>Two or three buses just to get to camp? Who needs that? Get buses that will take you directly to the camp doorstep here.</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/get-buses-to-camp.svg" alt="get buses to camp">
          </div>
        </div> -->
        
      <!-- <hr>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Corpers Hall of Fame</h3>
                <p>We will Publish your NYSC experiences and notable accomplishment with words and photos on our corpers hall of fame page. A section constantly perused by esteemed employers and Government officials seeking young, skilled and talented graduates for recruitment!</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/undraw/hall-of-fame.svg" alt="join our corpers hall of fame">
          </div>
        </div>
      </div> -->

    </div>
  </section>
    <!--================Tour section End =================-->


    <!--================Testimonial section Start =================-->
    <!-- <section class="bg-gray section-padding magic-ball magic-ball-testimonial pb-xl-5">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="assets/images/home/section-icon.png" alt="">
        <h2>Our client says</h2>
        <p>Fowl have fruit moveth male they are that place you will lesser</p>
      </div>


      <div class="owl-carousel owl-theme testimonial pb-xl-5">
        
      </div>
    </div>
  </section> -->
    <!--================Testimonial section End =================-->

    <!-- ================ start footer Area ================= -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Corpers Online</h6>
                        <p>
                            We know Service Year is hard enough for most. Settling in, in a new environment, and getting started is quite challenging. We realise this a lot and want to help. We provide a platform where you can produce and digest relevant information and resources to ease the rigorous aspects of  service year. It is a great forum for meeting and making life long friends, a very interactive environment where you will undoubtedly develop unforgettable experiences. <b>Join the network</b>.
                            <!-- The world has become so fast paced that people don't want to stand by reading a page of information to be informed, they would much rather look at a presentation and understand -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Navigation Links</h6>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/map">Maps</a></li>
                                </ul>
                            </div>
                            <!-- <div class="col">
                <ul>
                  <li><a href="#!">Team</a></li>
                  <li><a href="#!">Pricing</a></li>
                  <li><a href="#!">Blog</a></li>
                  <li><a href="#!">Contact</a></li>
                </ul>
              </div>	 -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>
                            <!-- give alot of metrics, prices of routes from different bus parks to the other. tell them about SPAs, get affiliated with companies willing to hire corpers. tell them about Government Laws, new, old and the ones under delibrations and how it affects them, tell them to give their input. what's happening to them, they can leave reviews about their lodges and the area they lived/ served in/at. park the newsletter with graphics. relevent graphics. just tell them alot. worthwhile stuffs. -->
                            Subscribe! Be in the know on stuffs that definately benefits you and gives you insight during your service year. And also if you're intrested in mediocre print, presentations and graphic output relevant for your Service Year, things you can understand. We'd also tell you what we're up to.
                        </p>
                        <div >
                            <form  id="sublist" >
                                <div class="input-group d-flex flex-row">
                                    <input name="email" placeholder="Email Address" autocomplete="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="true" type="email">
                                    <button class="btn bb-btn" type="submit"><span class="fas fa-paper-plane"></span></button>
                                    <!-- <input type="submit" class="btn bb-btn" value=""> -->
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                            <div id="submsg"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                  <h6 class="mb-20">InstaFeed</h6>
                  <ul class="instafeed d-flex flex-wrap">
                    <li><img src="assets/images/instagram/i1.jpg" alt=""></li>
                    <li><img src="assets/images/instagram/i2.jpg" alt=""></li>
                    <li><img src="assets/images/instagram/i3.jpg" alt=""></li>
                    <li><img src="assets/images/instagram/i4.jpg" alt=""></li>
                    <li><img src="assets/images/instagram/i5.jpg" alt=""></li>
                    <li><img src="assets/images/instagram/i6.jpg" alt=""></li>
                    <li><img src="assets/images/instagram/i7.jpg" alt=""></li>
                    <li><img src="assets/images/instagram/i8.jpg" alt=""></li>
                  </ul>
                </div>
              </div> -->
            </div>

            <div class="footer-bottom">
                <div class="row align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy; <script>
                            document.write( new Date()
                                .getFullYear() );
                        </script> For corpers by corpers with <i class="fa fa-heart" aria-hidden="true"></i>
                        <!-- try putting words in between the i [it shouldn't be <i> tag, i mean icon tag] tag to see it it shows when the icons does (loads) or doesn't show (load) -->
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
                        <a href="https://www.facebook.com/CorpersOnline/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/OnlineCorpers" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/corpersonline/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->

    <script>
        // script for saying hi
        function sublist() {

            // use fetch api later on or NOT https://gomakethings.com/why-i-still-use-xhr-instead-of-the-fetch-api/
            var XHR = new XMLHttpRequest();

            // Bind the FormData object and the form element
        var FD = new FormData( form );
            

            // Define what happens on successful data submission
            XHR.addEventListener( "load", function( event ) {
                // alert(event.target.responseText);
                console.log( event.target.responseText );

                if (event.target.responseText == 'OK') {
                    document.getElementById('submsg').innerHTML = 'You\'ve subscribed and rock too.';
                    document.getElementById( "sublist" ).reset();
                    // tell them to send another message again
                    setTimeout( function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000 );
                } else { // 'Not Acceptable'
                    document.getElementById('submsg').innerHTML = 'We have you in our list already. Boss.';
                     // clear the message
                    setTimeout( function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000 );
                }
                // say thank you

            } );

            // Define what happens in case of error
            XHR.addEventListener( "error", function( event ) {
                alert( 'Oops! Something went wrong.' );
            } );

            // Set up our request
            XHR.open( 'POST', '/subscribe', true ); // true makes it async request

            // The data sent is what the user provided in the form
            XHR.send( FD );
        }

        // Access the form element...
        var form = document.getElementById( "sublist" );
        
        // ...and take over its submit event.
        form.addEventListener( "submit", function( event ) {
            event.preventDefault(); // the default behaviour is refreshing the page and adding search params to the url

            sublist();
        }, false, true ); // https://developer.mozilla.org/en-US/docs/Web/Events/submit
    </script>

    <script src="assets/js/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.js" integrity="sha256-W+Cxk9exgjON2p73M4RcoKvCpQUZ+IjXhEzZk6rlg9M=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css" integrity="sha256-CU0/rbxVB3Eixd3bbIuJxHJLDnXriJS9cwp/BfcgpLw=" crossorigin="anonymous" />



    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha256-wCBClaCr6pJ7sGU5kfb3gQMOOcIZNzaWpWcj/lD9Vfk=" crossorigin="anonymous"></script>
   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js" integrity="sha256-LcyfaRZnHuDuTF98e28TxRkYm2XTcaOTCcDZW3kFDCg=" crossorigin="anonymous"></script>
    <!-- <script src="js/jquery.ajaxchimp.min.js"></script> -->

    <!-- <script src="js/mail-script.js"></script>
  <script src="js/skrollr.min.js"></script>
  <script src="js/main.js"></script> -->


    <script src="assets/js/searchallstates.js"></script>
</body>

</html>