<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta name="description" content="Provide real time info for other corpers. Information like household items for sale, accommodation space, directions to PPAs, SPAs.">
    <meta name="keywords" content="Corpers, Online, Accommodation, Rent, NYSC, Service Year, Ajuwaya, Nigeria, Lodge, Apartments, PPA, SPA, Office, Secretariat, LGA, Batch">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">

    <link rel="canonical" href="https://corpers.online">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Corpers Online">
    <meta itemprop="description" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta itemprop="image" content="https://corpers.online/work%20on/rule28.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://corpers.online">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Find and acquire apartments, PPAs and places. Buy eg. household goods from, and sell, to corpers.">
    <meta property="og:site_name" content="Corpers Online"> <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Buy & sell household items. Find accommodation, PPAs."><!-- Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria -->
    <meta property="og:image:secure_url" itemprop="image" content="https://corpers.online/work%20on/rule28.png">
    <meta property="og:image" itemprop="image" content="https://corpers.online/work%20on/rule28.png">

    <!--  Non-Essential, But Required for Analytics -->

    <!-- <meta property="fb:app_id" content="your_app_id" /> -->
    <meta name="twitter:site" content="@OnlineCorpers">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Find and acquire apartments, PPAs, and NYSC hangouts. Buy household goods from, and sell, to corpers.">
    <meta name="twitter:description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
    <meta name="twitter:image" content="https://corpers.online/work%20on/rule28.png">

    <meta name="twitter:image:alt" content="Corpers helping other corpers">


    <meta name="author" content="Corpers">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy & sell household items. Find accommodation, PPAs.</title>
    <link rel="icon" href="logo/new/logo32x32.png" type="image/png">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/flat-icon/font/flaticon.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css"> -->

    <link rel="stylesheet" href="style.css">
</head>

<body class="bg-shape">

    <!--================ Header Menu Area start =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="#!"><img src="co logo2.png" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset justify-content-between" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-start">
                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/map">Maps</a>
                                <!-- <li class="nav-item submenu dropdown">
                                      <a href="#!" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false">Pages</a>
                                      <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="amentities.html">Amentities</a>                 
                                      </ul>
                                    </li>

                                    <li class="nav-item submenu dropdown">
                                      <a href="#!" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false">Blog</a>
                                      <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog Single</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-details.html">Blog Details</a></li>
                                      </ul>
                                    </li> -->
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>

                        <div class="nav-right text-lg-right py-4 py-lg-0">
                            <!-- <a class="button text-center" href="/login">Get Started</a> -->

                            <form id="form-search" action="/search" name="form-search" class="mr-md-3">
                                <div class="typeahead__container">
                                    <div class="typeahead__field">
                                        <div class="typeahead__query">
                                            <input id="s" style="min-height: 0px;" name="search[query]" type="search" placeholder="Search by locality" autocomplete="off" inputmode="search">
                                        </div>
                                        <div class="typeahead__button">
                                            <button type="submit">
                                                <i class="typeahead__search-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->


    <!--================Hero Banner Area Start =================-->
    <section class="hero-banner magic-ball">
        <div class="container">

            <div class="row align-items-center text-center text-md-left">
                <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                    <h1>We do better when we work together, Let's serve ourselves too.</h1>
                    <p><b>Corpers Online</b> is where corpers provide relevant real time info for other corpers. Tell other corpers about the household items you want to sell and find buyers, tell other corpers about accommodation space up for rent. You so that by subleasing yours if it hasn't expired and you're done with service year. Show others routes! Lots of it. Give directions to your PPA, an office building likely an SPA, a logde or an accommodation space.</p>
                    <p>If you are a serving corper then <i>be</i> a <b>corper online</b> too!</p>
                    <a class="button button-hero mt-4" href="/login">Join the network</a>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
                    <img class="img-fluid" src="home/hero-img.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->


    <!--================Service Area Start =================-->
    <section class="section-margin generic-margin">
        <div class="container">
            <div class="section-intro text-center pb-90px">
                <img class="section-intro-img" src="home/section-icon.png" alt="">
                <h2>Wanna know?</h2>
                <p>Just some stuff other corpers online can help you with.</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="service-card text-center">
                        <div class="service-card-img">
                            <img class="img-fluid" src="home/service1.png" alt="">
                        </div>
                        <div class="service-card-body">
                            <h3>Find, then acquire accommodation space</h3>
                            <p>You can also put them up for rent to sublease. Just provide some basic info about the space and you're good to go.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="service-card text-center">
                        <div class="service-card-img">
                            <img class="img-fluid" src="home/service2.png" alt="">
                        </div>
                        <div class="service-card-body">
                            <h3>Get to know about your PPA or an SPA</h3>
                            <p>Write reviews! What's the pay like? How well do they treat corpers? Any perks? What do you think should we know!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="service-card text-center">
                        <div class="service-card-img">
                            <img class="img-fluid" src="home/service4.png" alt="">
                        </div>
                        <div class="service-card-body">
                            <h3>Buy and sell some of your household stuffs</h3>
                            <p>Of course, you can't take all your stuffs back with you, others need them and you need the money. You want it at least. Right?</p> <!-- Right? should link to some page about things commonly sold on corpers online... we should have like an infographic -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Service Area End =================-->


    <!--================About Area Start =================-->
    <section class="bg-gray section-padding magic-ball magic-ball-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 mb-4 mb-md-0">
                    <div class="about-img">
                        <!-- <img class="img-fluid" src="img/home/service3 - Copy.png" alt=""> -->
                        <img class="img-fluid" src="home/undraw_adventure_4hum.svg" alt="Explore">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 align-self-center about-content">
                    <h2>Know the important places, <br class="d-none d-xl-block">like where you're meant to <br class="d-none d-xl-block"> get do NYSC 'business'</h2>
                    <p>Aside from your PPA, find other relevant NYSC hangouts (think <b>NYSC Secretariat</b>, <b>LGA Offices</b> etc.).</p>
                    <a class="button" href="/maps">Explore Maps</a>
                </div>
            </div>
        </div>
    </section>
    <!--================About Area End =================-->

    <!--================Tour section Start =================-->
    <!-- <section class="section-margin pb-xl-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="tour-card">
            <img class="card-img rounded-0" src="img/home/tour1.png" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Paris tour offer</h4>
                  <small>5 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$65/day</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h2>We offer worldwise tour plan recently</h2>
                <p>Make she'd moved divided air. Whose tree that hath own upon them it multiply was blessed </p>
              </div>
            </div>
          </div>

          <div class="tour-card">
            <img class="card-img rounded-0" src="img/home/tour2.png" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Paris tour offer</h4>
                  <small>5 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$65/day</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-7">
          <div class="tour-card">
            <img class="card-img rounded-0" src="img/home/tour3.png" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Paris tour offer</h4>
                  <small>5 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$65/day</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="tour-card">
            <img class="card-img rounded-0" src="img/home/tour4.png" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Paris tour offer</h4>
                  <small>5 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$65/day</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
    <!--================Tour section End =================-->


    <!--================Testimonial section Start =================-->
    <!-- <section class="bg-gray section-padding magic-ball magic-ball-testimonial pb-xl-5">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="img/home/section-icon.png" alt="">
        <h2>Our client says</h2>
        <p>Fowl have fruit moveth male they are that place you will lesser</p>
      </div>


      <div class="owl-carousel owl-theme testimonial pb-xl-5">
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src="img/testimonial/t-slider1.png" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Daniel heart</h3>
                <p>Project manager, Nestle</p>
                <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src="img/testimonial/t-slider1.png" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Daniel heart</h3>
                <p>Project manager, Nestle</p>
                <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src="img/testimonial/t-slider1.png" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Daniel heart</h3>
                <p>Project manager, Nestle</p>
                <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
    <!--================Testimonial section End =================-->


    <!--================Search Package section Start =================-->
    <!-- <section class="section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-5 align-self-center mb-5 mb-lg-0">
          <div class="search-content">
            <h2>Search suitable <br class="d-none d-xl-block"> and affordable plan <br class="d-none d-xl-block"> for your tour</h2>
            <p>Make she'd moved divided air. Whose tree that replenish tone hath own upon them it multiply was blessed is lights make gathering so day dominion so creeping</p>
            <a class="button" href="#!">Learn More</a>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 offset-xl-1">
          <div class="search-wrapper">
            <h3>Search Package</h3>

            <form class="search-form" action="#">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Recipient's username">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="ti-search"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <select name="category" id="category">
                  <option value="disabled" disabled selected>Category</option>
                  <option value="8 AM">8 AM</option>
                  <option value="12 PM">12 PM</option>
                </select>
              </div>
              <div class="form-group">
                <select name="tourDucation" id="tourDuration">
                  <option value="disabled" disabled selected>Tour duration</option>
                  <option value="8 AM">8 AM</option>
                  <option value="12 PM">12 PM</option>
                </select>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="date" class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="ti-notepad"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <select name="priceRange" id="priceRange">
                  <option value="disabled" disabled selected>Price range</option>
                  <option value="8 AM">8 AM</option>
                  <option value="12 PM">12 PM</option>
                </select>
              </div>
              <div class="form-group">
                <button class="button border-0 mt-3" type="submit">Search Package</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section> -->
    <!--================Search Package section End =================-->


    <!--================Blog section Start =================-->
    <!-- <section class="section-padding bg-gray">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="img/home/section-icon.png" alt="">
        <h2>From our Blog</h2>
        <p>Fowl have fruit moveth male they are that place you will lesser</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <img class="card-img rounded-0" src="img/blog/blog-1.png" alt="">
            <div class="card-blog-body">
              <a href="#!">
                <h4>Forest responds to consultation smoking in al fresco.</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#!"><span class="align-middle"><i class="ti-notepad"></i></span>Jan 03, 2018</a></li>
                <li><a href="#!"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <p>Varius metus morbi ferme libero vehic on porta malesuada ut interdu estmales torquent vehicula parturient </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <img class="card-img rounded-0" src="img/blog/blog-2.png" alt="">
            <div class="card-blog-body">
              <a href="#!">
                <h4>Forest responds to consultation smoking in al fresco.</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#!"><span class="align-middle"><i class="ti-notepad"></i></span>Jan 03, 2018</a></li>
                <li><a href="#!"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <p>Varius metus morbi ferme libero vehic on porta malesuada ut interdu estmales torquent vehicula parturient </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <img class="card-img rounded-0" src="img/blog/blog-3.png" alt="">
            <div class="card-blog-body">
              <a href="#!">
                <h4>Forest responds to consultation smoking in al fresco.</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#!"><span class="align-middle"><i class="ti-notepad"></i></span>Jan 03, 2018</a></li>
                <li><a href="#!"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <p>Varius metus morbi ferme libero vehic on porta malesuada ut interdu estmales torquent vehicula parturient </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
    <!--================Blog section End =================-->


    <!-- ================ start footer Area ================= -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Corpers Online</h6>
                        <p>
                            We know Service Year is hard enough for most. Settling in, in a new environment, and getting started is quite challenging. We realise this a lot and want to help. We provide a platform where you can produce and digest relevant information and resources to help ease as much as possible. <b>Join the network</b>.
                            <!-- The world has become so fast paced that people don't want to stand by reading a page of information to be informed, they would much rather look at a presentation and understand -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Navigation Links</h6>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/map">Maps</a></li>
                                </ul>
                            </div>
                            <!-- <div class="col">
                <ul>
                  <li><a href="#!">Team</a></li>
                  <li><a href="#!">Pricing</a></li>
                  <li><a href="#!">Blog</a></li>
                  <li><a href="#!">Contact</a></li>
                </ul>
              </div>	 -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>
                            <!-- give alot of metrics, prices of routes from different bus parks to the other. tell them about SPAs, get affiliated with companies willing to hire corpers. tell them about Government Laws, new, old and the ones under delibrations and how it affects them, tell them to give their input. what's happening to them, they can leave reviews about their lodges and the area they lived/ served in/at. park the newsletter with graphics. relevent graphics. just tell them alot. worthwhile stuffs. -->
                            Subscribe! Be in the know on stuffs that definately benefits you and gives you insight during your service year. And also if you're intrested in mediocre print, presentations and graphic output relevant for your Service Year, things you can understand. We'd also tell you what we're up to.
                        </p>
                        <div >
                            <form  id="sublist" >
                                <div class="input-group d-flex flex-row">
                                    <input name="email" placeholder="Email Address" autocomplete="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="true" type="email">
                                    <button class="btn bb-btn" type="submit"><span class="fas fa-paper-plane"></span></button>
                                    <!-- <input type="submit" class="btn bb-btn" value=""> -->
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                            <div id="submsg"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                  <h6 class="mb-20">InstaFeed</h6>
                  <ul class="instafeed d-flex flex-wrap">
                    <li><img src="img/instagram/i1.jpg" alt=""></li>
                    <li><img src="img/instagram/i2.jpg" alt=""></li>
                    <li><img src="img/instagram/i3.jpg" alt=""></li>
                    <li><img src="img/instagram/i4.jpg" alt=""></li>
                    <li><img src="img/instagram/i5.jpg" alt=""></li>
                    <li><img src="img/instagram/i6.jpg" alt=""></li>
                    <li><img src="img/instagram/i7.jpg" alt=""></li>
                    <li><img src="img/instagram/i8.jpg" alt=""></li>
                  </ul>
                </div>
              </div> -->
            </div>

            <div class="footer-bottom">
                <div class="row align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy; <script>
                            document.write( new Date()
                                .getFullYear() );
                        </script> For corpers by corpers with <i class="fa fa-heart" aria-hidden="true"></i>
                        <!-- try putting words in between the i [it shouldn't be <i> tag, i mean icon tag] tag to see it it shows when the icons does (loads) or doesn't show (load) -->
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
                        <a href="https://twitter.com/OnlineCorpers" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.facebook.com/CorpersOnline/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/corpersonline/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->

    <script>
        // script for saying hi
        function sublist() {

            // use fetch api later on or NOT https://gomakethings.com/why-i-still-use-xhr-instead-of-the-fetch-api/
            var XHR = new XMLHttpRequest();

            // Bind the FormData object and the form element
        var FD = new FormData( form );
            

            // Define what happens on successful data submission
            XHR.addEventListener( "load", function( event ) {
                // alert(event.target.responseText);
                console.log( event.target.responseText );

                if (event.target.responseText == 'OK') {
                    document.getElementById('submsg').innerHTML = 'You\'ve subscribed and rock too.';
                    document.getElementById( "sublist" ).reset();
                    // tell them to send another message again
                    setTimeout( function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000 );
                } else { // 'Not Acceptable'
                    document.getElementById('submsg').innerHTML = 'We have you in our list already. Boss.';
                     // clear the message
                    setTimeout( function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000 );
                }
                // say thank you

            } );

            // Define what happens in case of error
            XHR.addEventListener( "error", function( event ) {
                alert( 'Oops! Something went wrong.' );
            } );

            // Set up our request
            XHR.open( 'POST', '/subscribe', true ); // true makes it async request

            // The data sent is what the user provided in the form
            XHR.send( FD );
        }

        // Access the form element...
        var form = document.getElementById( "sublist" );
        
        // ...and take over its submit event.
        form.addEventListener( "submit", function( event ) {
            event.preventDefault(); // the default behaviour is refreshing the page and adding search params to the url

            sublist();
        }, false, true ); // https://developer.mozilla.org/en-US/docs/Web/Events/submit
    </script>

    <script src="jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.js" integrity="sha256-W+Cxk9exgjON2p73M4RcoKvCpQUZ+IjXhEzZk6rlg9M=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css" integrity="sha256-CU0/rbxVB3Eixd3bbIuJxHJLDnXriJS9cwp/BfcgpLw=" crossorigin="anonymous" />



    <script src="bootstrap.bundle.min.js"></script>
    <!-- <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha256-wCBClaCr6pJ7sGU5kfb3gQMOOcIZNzaWpWcj/lD9Vfk=" crossorigin="anonymous"></script>
   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js" integrity="sha256-LcyfaRZnHuDuTF98e28TxRkYm2XTcaOTCcDZW3kFDCg=" crossorigin="anonymous"></script>
    <!-- <script src="js/jquery.ajaxchimp.min.js"></script> -->

    <!-- <script src="js/mail-script.js"></script>
  <script src="js/skrollr.min.js"></script>
  <script src="js/main.js"></script> -->


    <script src="searchallstates.js"></script>
</body>

</html>