<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta name="description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
    <meta name="keywords" content="Corpers, Online, Accommodation, Rent, NYSC, Service Year, Ajuwaya, Nigeria, Lodge, Apartments, PPA, SPA, Office, Secretariat, LGA, Batch">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">

    <link rel="canonical" href="https://corpers.online">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Corpers Online">
    <meta itemprop="description" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://corpers.online">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Find and acquire apartments, PPAs and places. Buy eg. household goods from, and sell, to corpers.">
    <meta property="og:site_name" content="Corpers Online"> <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Buy & sell household items. Find accommodation, PPAs."><!-- Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria -->
    <meta property="og:image:secure_url" itemprop="image" content="https://corpers.online/assets/images/rule28.png">
    <meta property="og:image" itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!--  Non-Essential, But Required for Analytics -->
    <!-- <meta property="fb:app_id" content="your_app_id" /> -->

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Find and acquire apartments, PPAs, and NYSC hangouts. Buy household goods from, and sell, to corpers.">
    <meta name="twitter:description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
    <meta name="twitter:image" content="https://corpers.online/assets/images/rule28.png">
    <meta name="twitter:site" content="@OnlineCorpers">
    <meta name="twitter:image:alt" content="Corpers helping other corpers">

    <meta name="author" content="Corpers">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corpers Online - Buy & sell household items. Find accommodation, PPAs, & major places.</title>
    <link rel="icon" href="assets/images/1/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />

    <link rel="stylesheet" href="assets/css/style.css">
    <style>
      @media (min-width: 576px) {
        .typeahead__list{
          max-height: 500px;
          overflow-y: scroll;
        }
      }

      @media (max-width: 576px) {
        .typeahead__search-icon{
          padding: 0 0.5rem !important;
        }
        #s{
          padding-right: 0.75rem;
        }
      }

      .search-div {
        width: 50%;
      }
      #s {
        padding-right: 0px;
      }
      img[role="img"] {
        height: 65px;
      }
    </style>
    <script async defer data-website-id="58dce5f5-c238-4e98-b2c6-e701c258f01d" src="https://using-umami.herokuapp.com/umami.js"></script>
</head>

<body class="bg-shape">
    <!--================ Header Menu Area start =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="#!"><img src="assets/images/2/header-transparent.png" role="img" alt="Corpers Online Logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset justify-content-between" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-start">
                            <!-- <li class="nav-item active"><a class="nav-link" href="/">Home</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/blog">Blog</a>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>

                        <div class="nav-right text-lg-right py-4 py-lg-0 search-div d-none d-lg-block d-xl-none d-xl-block">
                            <!-- <a class="button text-center" href="/login">Get Started</a> -->

                            <form id="form-search" action="/search" name="form-search" class="mr-md-3">
                                <div class="typeahead__container">
                                    <div class="typeahead__field">
                                        <div class="typeahead__query">
                                            <input class="s" name="search[query]" type="search" placeholder="Find accommodations & sales." autocomplete="off" inputmode="search">
                                        </div>
                                        <div class="typeahead__button">
                                            <button type="submit">
                                                <i class="typeahead__search-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    <!--================Hero Banner Area Start =================-->
    <section class="hero-banner magic-ball">
        <div class="container">
            <div class="row align-items-center text-center text-md-left">
                <div class="col-md-12 col-lg-12 mb-md-0">
                    <h1>We serve Nigeria better, when we do it together.</h1>
                </div>
            </div>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <section class="d-block d-sm-none d-none d-sm-block d-md-none d-md-block d-lg-none">
      <div class="py-4 py-lg-0 container">
        <!-- <a class="button text-center" href="/login">Get Started</a> -->

        <form id="form-search" action="/places" name="form-search">
            <div class="typeahead__container">
                <div class="typeahead__field">
                    <div class="typeahead__query">
                        <input class="s" name="search[query]" type="search" placeholder="Find accommodations & sales." autocomplete="off" inputmode="search">
                    </div>
                    <div class="typeahead__button">
                        <button type="submit">
                            <i class="typeahead__search-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </section>

    <!--================Tour section Start =================-->
    <section class="section-margin pb-xl-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h2>Sell Anything</h2>
                <p>Post your used items for thousands of corpers to buy. Sell off your mattresses, fridges, pressing irons, wardrobes and other similar items. There's a ready market of new corpers hoping to buy from you!</p>
                <a class="button button-hero" href="/signup" style="color: white;">Sell Now</a>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/home/sell.png" alt="You can sell any household items on https://corpers.online">
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h2>Buy Anything</h2>
                <p>Just beginning your service year? Fret not, We've got you! Explore our Mami market and buy all the items you’d need from outgoing corp members at budget-friendly prizes!</p>
                <a class="button button-hero" href="/search" style="color: white;">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/home/buy.png" alt="You can buy any household item on https://corpers.online">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Find Accommodation</h3>
                <p>Escape the stress of finding and furnishing a house. Get a roommate or locate available service apartments, corpers lodges, and NCCF family houses nearest to you.</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/home/select_house.png" alt="Find accommodation on corpers.online">
            
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h3 style="font-size: 30px;">Network with corpers</h3>
                <p>Say 'Hi' and network with other corpers. You can quickly start a chat with any corper.</p>
              </div>
            </div>
          </div>
          <div class="tour-card">
            <img class="card-img rounded-0" src="assets/images/home/social_networking.png" alt="Social network on corpers.online">
            
          </div>
        </div>
      </div>

      <div class="row pb-5 pl-4">
        <a class="button button-hero" href="/signup" style="color: white;">Join the network</a>
      </div>
        
      </div>

  </section>
    <!--================Tour section End =================-->

    <!-- ================ start footer Area ================= -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Corpers Online</h6>
                        <p>
                            We know Service Year is hard enough for most. Settling in, in a new environment, and getting started is quite challenging. We realise this a lot and want to help. We provide a platform where you can produce and digest relevant information and resources to ease the rigorous aspects of  service year. It is a great forum for meeting and making life long friends, a very interactive environment where you will undoubtedly develop unforgettable experiences. <b><a href="/signup">Join the network</a></b>.
                            <!-- The world has become so fast paced that people don't want to stand by reading a page of information to be informed, they would much rather look at a presentation and understand -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Navigation Links</h6>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <!-- <li><a href="/map">Maps</a></li> -->
                                </ul>
                            </div>
                            <!-- <div class="col">
                            <ul>
                              <li><a href="#!">Team</a></li>
                              <li><a href="#!">Pricing</a></li>
                              <li><a href="#!">Blog</a></li>
                              <li><a href="#!">Contact</a></li>
                            </ul>
                          </div>	 -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>
                            <!-- give alot of metrics, prices of routes from different bus parks to the other. tell them about SPAs, get affiliated with companies willing to hire corpers. tell them about Government Laws, new, old and the ones under delibrations and how it affects them, tell them to give their input. what's happening to them, they can leave reviews about their lodges and the area they lived/ served in/at. park the newsletter with graphics. relevent graphics. just tell them alot. worthwhile stuffs. -->
                            Subscribe! Be in the know on stuffs that definately benefits you and gives you insight during your service year. And also if you're intrested in mediocre print, presentations and graphic output relevant for your Service Year, things you can understand. We'd also tell you what we're up to.
                        </p>
                        <div >
                            <form  id="sublist" >
                                <div class="input-group d-flex flex-row">
                                    <input name="email" placeholder="Email Address" autocomplete="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="true" type="email">
                                    <button class="btn bb-btn" type="submit"><span class="fas fa-paper-plane"></span></button>
                                    <!-- <input type="submit" class="btn bb-btn" value=""> -->
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                            <div id="submsg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="row align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left">
                        &copy; <%= current_year %> For corpers by corpers with <i class="fa fa-heart" aria-hidden="true"></i>
                        <!-- try putting words in between the i [it shouldn't be <i> tag, i mean icon tag] tag to see it it shows when the icons does (loads) or doesn't show (load) -->
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
                        <a href="https://www.facebook.com/CorpersOnline/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/OnlineCorpers" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/corpersonline/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->

    <script>
        // script for saying hi
        function sublist() {

            // use fetch api later on or NOT https://gomakethings.com/why-i-still-use-xhr-instead-of-the-fetch-api/
            var XHR = new XMLHttpRequest();

            // Bind the FormData object and the form element
            var FD = new FormData( form );
            

            // Define what happens on successful data submission
            XHR.addEventListener("load", function( event ) {
              if (event.target.responseText == 'OK') {
                    // say thank you
                    document.getElementById('submsg').innerHTML = 'Great! You subscribed.';
                    document.getElementById("sublist").reset();
                    // clear the message
                    setTimeout(function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000);
                } else if (event.target.status == 406) { // 'Not Acceptable'
                    document.getElementById('submsg').innerHTML = 'We have you in our list already. :(';
                    // clear the message
                    setTimeout(function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000);
                } else { // 'Not Acceptable'
                    document.getElementById('submsg').innerHTML = 'We had an error. Please try again.';
                    // clear the message
                    setTimeout(function() {
                        document.getElementById('submsg').innerHTML = "";
                    }, 4000);
                }
            });

            // Define what happens in case of error
            XHR.addEventListener( "error", function( event ) {
                alert( 'Oops! Something went wrong.' );
            } );

            // Set up our request
            XHR.open( 'POST', '/subscribe', true ); // true makes it async request

            // The data sent is what the user provided in the form
            XHR.send( FD );
        }

        // Access the form element...
        var form = document.getElementById( "sublist" );
        
        // ...and take over its submit event.
        form.addEventListener("submit", function( event ) {
            event.preventDefault(); // the default behaviour is refreshing the page and adding search params to the url

            sublist();
        }, false, true ); // https://developer.mozilla.org/en-US/docs/Web/Events/submit
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.js" integrity="sha256-W+Cxk9exgjON2p73M4RcoKvCpQUZ+IjXhEzZk6rlg9M=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css" integrity="sha256-CU0/rbxVB3Eixd3bbIuJxHJLDnXriJS9cwp/BfcgpLw=" crossorigin="anonymous" />

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha256-wCBClaCr6pJ7sGU5kfb3gQMOOcIZNzaWpWcj/lD9Vfk=" crossorigin="anonymous"></script>
   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js" integrity="sha256-LcyfaRZnHuDuTF98e28TxRkYm2XTcaOTCcDZW3kFDCg=" crossorigin="anonymous"></script>
    <!-- <script src="js/jquery.ajaxchimp.min.js"></script> -->

    <script src="assets/js/searchallstates.js"></script>
    <style>
      .typeahead__container .typeahead__field input {
        padding-right: 13px;
      }
    </style>
</body>

</html>