<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- HTML Meta Tags -->
<title>Corpers Online</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="Corpers Online">
<meta name="application-name" content="Corpers Online">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- <link rel="icon" type="image/png" href="logo/new/logo32x32.png"/> --> <!-- change the icon to just have that connected string ?? -->

<meta name="description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
<meta name="robots" content="index, follow">
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Corpers Online">
<meta itemprop="description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
<meta itemprop="image" content="https://corpers.online/work%20on/rule28.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://corpers.online">
<meta property="og:type" content="website">
<meta property="og:title" content="Find and acquire apartments, PPAs and places. Buy eg. household goods from, and sell, to corpers.">
<meta property="og:site_name" content="Corpers Online"> <!--  Non-Essential, But Recommended -->
<meta property="og:description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
<meta property="og:image:secure_url" itemprop="image" content="https://corpers.online/work%20on/rule28.png">
<meta property="og:image" itemprop="image" content="http://corpers.online/work%20on/rule28.png">
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1349" />
<meta property="og:image:height" content="512" />
<meta property="og:image:alt" content="#Rule28 Help other corpers out with info" />

<!--  Non-Essential, But Required for Analytics -->

<!-- <meta property="fb:app_id" content="your_app_id" /> -->
<meta name="twitter:site" content="@OnlineCorpers"> 

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Find (and acquire) apartments, PPAs and places. Buy eg. household goods from, and sell, to corpers.">
<meta name="twitter:description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
<meta name="twitter:image" content="https://corpers.online/work%20on/rule28.png">

<meta name="twitter:image:alt" content="Corpers helping other corpers">

<!-- Meta Tags Generated via http://heymeta.com -->

<!--
	Your image width is 560px. It's recommended to be greater than 1200 pixels
	Your image height is 315px. It's recommended to be greater than 630 pixels

	Your image height is 315px. It's recommended to be greater than 501 pixels

-->

<!-- find tags for Linkedin and Google+ -->

	<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria" /> <!--in Nigeria-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- <script src="/jquery-3.3.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script> -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
	integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>


<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script> -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- <script src="/font-awesome.min.css"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"
	integrity="sha256-crfkMD0BL2TtiwpbIlXF/SVmGSvOtgbMM8GBkibVKyc=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>

	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
	<script src="jquery-slim.min.js" type="text/javascript" ></script>
	<script src="bootstrap.min.js" type="text/javascript"></script>
	<script src="holder.min.js" type="text/javascript"></script> -->
<!-- jQuery's typeahead -->
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.js" integrity="sha256-W+Cxk9exgjON2p73M4RcoKvCpQUZ+IjXhEzZk6rlg9M=" crossorigin="anonymous"></script>
  
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css" integrity="sha256-CU0/rbxVB3Eixd3bbIuJxHJLDnXriJS9cwp/BfcgpLw=" crossorigin="anonymous" />


<!--- twitter's typeahead --->
<!-- <script src="/typeahead.bundle.js"></script> -->


<style type="text/css">

			.loadingBar{
				position:fixed;
				display:none;
				top:0;
				left:0;
				right:0;
				height:2px;
				z-index:800;
				background:#34e79a;
				-webkit-transform:translateX(100%);
				transform:translateX(100%)
			}
  
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  
	.carousel-caption {
		font-size: 1rem;
		font-weight: 400;
		padding-top: 20px;
		padding-bottom: 20px;
	}
  }
	

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  background-color: #777;
}
.carousel-item > img {
	/*
  position: absolute;
  top: 0;
	left: 0;
	*/
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

body{
	/* radial-gradient | linear-gradient*/
	/* background-image:
    linear-gradient(
      to right, 
      red, 
      #f06d06, 
      rgb(255, 255, 0), 
      green
		); */

		background-image:
    radial-gradient(
      circle,
      rgb(223, 226, 12),
      #1cd4d4
		);

		/* background-image:
    radial-gradient(
      yellow,
      #f06d06
    ); */

		/*
			#stripes {
					width: 100%;
					height: 100%;
					overflow: hidden;
					-webkit-transform: skewY(-12deg);
					transform: skewY(-12deg);
					-webkit-transform-origin: 0;
					transform-origin: 0;
					background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
			}
		*/

}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
		line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 1rem;
  }
}
	</style>
	<style>
		.ppp{
			width: 100%;
			height: auto;
		}
	</style>
</head>
<body>

				<nav class="navbar navbar-expand-sm navbar-light bg-light">
					<a class="navbar-brand" href="#">Corpers Online</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
		
					<div class="collapse navbar-collapse" id="navbarsExample03">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
									<a class="nav-link" href="/map">Maps</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/signup">Sign up</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/login">Log In</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contact</a>
							</li>
						</ul>

						
            <!-- <form class="form-inline my-2 pr-2">
              <div id="bloodhound">
                  <input class="form-control typeahead" type="text" placeholder="Search accomodations, places, PPAs, SPAs">
              </div>
						</form> -->
					<form id="form-country_v1" name="form-country_v1">
							<div class="typeahead__container">
									<div class="typeahead__field">
											<div class="typeahead__query">
													<input class="js-typeahead-country_v1" name="country_v1[query]" type="search" placeholder="Search" autocomplete="off">
											</div>
											<div class="typeahead__button">
													<button type="submit">
															<i class="typeahead__search-icon"></i>
													</button>
											</div>
									</div>
							</div>
					</form>
            
            <script>
              $.typeahead({
						    input: '.js-typeahead-country_v1',
						    order: "desc",
						    source: {
						        data: [
						            "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda",
						            "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh",
						            "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia",
						            "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burma",
						            "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Republic", "Chad",
						            "Chile", "China", "Colombia", "Comoros", "Congo, Democratic Republic", "Congo, Republic of the",
						            "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti",
						            "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador",
						            "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon",
						            "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Greenland", "Grenada", "Guatemala", "Guinea",
						            "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India",
						            "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan",
						            "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos",
						            "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg",
						            "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands",
						            "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Mongolia", "Morocco", "Monaco",
						            "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger",
						            "Nigeria", "Norway", "Oman", "Pakistan", "Panama", "Papua New Guinea", "Paraguay", "Peru",
						            "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Samoa", "San Marino",
						            "Sao Tome", "Saudi Arabia", "Senegal", "Serbia and Montenegro", "Seychelles", "Sierra Leone",
						            "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "Spain",
						            "Sri Lanka", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan",
						            "Tajikistan", "Tanzania", "Thailand", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey",
						            "Turkmenistan", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States",
						            "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe"
						        ]
						    },
						    callback: {
						        onInit: function (node) {
						            console.log('Typeahead Initiated on ' + node.selector);
						        }
						    }
						});
            </script>
					</div>
				</nav>

				
				

	<main role="main">
		<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img class="first-slide d-block img-fluid mx-auto" src="/work on/ghh/1.jpg" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img class="second-slide d-block img-fluid mx-auto" src="/work on/ghh/desc02.jpg" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img class="third-slide d-block img-fluid mx-auto" src="/work on/ghh/info02.png" alt="Third slide">
			  </div>
			</div>
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		</div>
			
			

			<div class="container">
		
		
				


				      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">


        <!-- START THE FEATURETTES -->
				<!--a forum where you can ask questions and have them answered. NYSC questions-->


        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Easily be in the know. <span class="text-muted">Find real-time accurate info, when you want it.</span></h2>
            <p class="lead">Get to know about PPAs; find where your PPA is and get directions to it. Find Lodges and apartments within your budgets and comfort, and of course get directions too. Yes, easily get to camp, from where ever you are, we can tell you bus stops and parks, where you'll find them and how you can get to camp. We've got you covered.</p>
          </div>
          <div class="col-md-5">
						<!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x400?theme=thumb&text=BE IN THE KNOW" alt="Generic placeholder image"> -->
						<img src="/work on/ghh/places.png" alt="know places and routes" class="ppp">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Settling in doesn't have to be difficult. <span class="text-muted">Unless you make it so. Decide not to.</span></h2>
            <p class="lead">What's better than buying household goods from other corpers? Nah, don't answer that. But you get the gist. Easily buy household itmes from corpers at cheaper rates. Better still, take over apartments from outgoing Corpers, so you won't stress from hunting for one.</p>
          </div>
          <div class="col-md-5 order-md-1">
						<!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x400?theme=thumb&text=MOVE IN LIKE IT'S YOUR HOME... CAUSE IT IS." alt="Generic placeholder image"> -->
						<img src="/work on/ghh/buy.png" alt="know places and routes" class="ppp">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Be easily served. <span class="text-muted">Don't panic, we've got your transport covered.</span></h2>
            <p class="lead">Going to camp doesn't have to be difficult. Easily book comfortable rides that takes you to camp... along with other fellow Corpers, like how cool !!!</p>
          </div>
          <div class="col-md-5">
						<!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x400?theme=thumb&text=WE WANNA HELP" alt="Generic placeholder image"> -->
						<img src="/work on/ghh/yesyesyes.png" alt="know places and routes" class="ppp">
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->





			</div>

	</main>

	<div class="loadingBar"></div>

	<footer class="text-center mt-3 pt-3">
      <p>Built for <a href="#">Corpers</a> by <a href="#">Corpers</a>.</p>
      <p>
				<span>&copy <script type="text/javascript">
					document.write(new Date().getFullYear());
				</script></span>
      </p>
    </footer>
</body>
</html>