<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The State</title>

    <link rel="icon" type="image/png" href="logo/new/logo32x32.png"/>
    
    <!-- maybe based on the batch, we can ask questions, make the corper leave reviews, offer a place up for accomodation. just do things. The Holy Spirit will give us what to do -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- <script src="/jquery-3.3.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script> -->
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
    
    
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!-- <script src="/font-awesome.min.css"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"
        integrity="sha256-crfkMD0BL2TtiwpbIlXF/SVmGSvOtgbMM8GBkibVKyc=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/offcanvas.css">
    <script src="/offcanvas.js"></script>
</head>
<body>
<nav>

</nav>
<div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">
        <a class="nav-link active" href="#">Dashboard</a>
        <a class="nav-link" href="#">
            Friends
            <span class="badge badge-pill bg-light align-text-bottom">27</span>
        </a>
        <a class="nav-link" href="#">Explore places</a> <!-- PPAs, LGAs, CDS meeting points and time table, and other relevant places like popular SPAs and even hotels-->
        <a class="nav-link" href="#">Suggestions</a>
        <a class="nav-link" href="#">Events</a> <!-- divided in to upcoming and recently done -->
        <a class="nav-link" href="#">Link</a> <!-- if they are logged in as corpers, maybe they can see presidents of CDS and other information like that -->
        <a class="nav-link" href="#">Who's who</a> <!-- even have maybe LIs register and be known -->
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Maps</a>
    </nav>
</div>
    
</body>
</html>