files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIF6jCCBNKgAwIBAgISA8tNn6nRuVV5MfAfLE7eFTgnMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xOTAyMDgxOTA5MDdaFw0x
      OTA1MDkxOTA5MDdaMBkxFzAVBgNVBAMTDmNvcnBlcnMub25saW5lMIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA+vV9ovWf+rVtctyPw4O/k72EYy0XTvfO
      j21gQaVcYvnok1i4wODMftwte81EuaDwEU2xT0WHVB7zjGgl06kvBvCzO22IOI95
      cg4c7YL4ACbQ9eCjm26ua3kY4vbTrprktgdon+nkFitt/TpDQgRORP5zptNbHVsb
      sWKDkuPre/A1rkn7CUKzKOfVMKl63WmzVwTzcg4HJhFHAMaT7trxrhtcIgTSkr3A
      772HHbY5ATheXWnlkJTSbQrrPr1ruPQSA5QxLmdlVtrIbuLiQR8zOiLs5upC44aU
      /Wjjk6jKK6CJrVWZL6Vi/IFrm/XCyNVSisJizPIDBUy8LsGOryizywIDAQABo4IC
      +TCCAvUwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEF
      BQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBT2ht/XIT3lpz0w7gITfjh2PJL0
      mDAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEFBQcBAQRj
      MGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5jcnlwdC5v
      cmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5jcnlwdC5v
      cmcvMIGtBgNVHREEgaUwgaKCGSouY29ycGVycy5jb25uYXJ0cy5jb20ubmeCECou
      Y29ycGVycy5vbmxpbmWCFSoubWFpbC5jb3JwZXJzLm9ubGluZYIdKi53d3cuY29y
      cGVycy5jb25uYXJ0cy5jb20ubmeCFCoud3d3LmNvcnBlcnMub25saW5lghdjb3Jw
      ZXJzLmNvbm5hcnRzLmNvbS5uZ4IOY29ycGVycy5vbmxpbmUwTAYDVR0gBEUwQzAI
      BgZngQwBAgEwNwYLKwYBBAGC3xMBAQEwKDAmBggrBgEFBQcCARYaaHR0cDovL2Nw
      cy5sZXRzZW5jcnlwdC5vcmcwggEFBgorBgEEAdZ5AgQCBIH2BIHzAPEAdgB0ftqD
      Ma0zEJEhnM4lT0Jwwr/9XkIgCMY3NXnmEHvMVgAAAWjOumLrAAAEAwBHMEUCIHrw
      Jp8X30Js9VY96PpSEsW0UaN/7Mth9BuDYMWGumOmAiEAltqrTgVsFa784XFlR5/f
      OOuPVDbqYeCp+tqOiONAgiIAdwBj8tvN6DvMLM8LcoQnV2szpI1hd4+9daY4scdo
      VEvYjQAAAWjOumD6AAAEAwBIMEYCIQCUTHaoE3MTbNfEFGMRsQ7JJaKIHWmqpDr5
      drsdYPzwZgIhANunzSs6NvWHcfLQZl0tQMtkyvIcuZIBpI1zFkzzjUtZMA0GCSqG
      SIb3DQEBCwUAA4IBAQCOVVPEOLrrIX4Gf1IPZN6KwT8lMgN6YD4cIwtVFBRbmO+t
      tS9u3aslz7taT58HXrZpaImKmtv3igMczR+vqILRLDUTyMocFG6ZBoH98dT4DOSq
      OYXR4QIg1ZPvqFe9KqPAv5yr7CcyRFoquPEzHh+yJeCYtV4wjO5NPwyHRsTDn+FA
      6WH4OKIlnh2O5HIpyyaI8/+wRnIjJ9lzp4K8JdmnQhHS4Nm5KIv8xMb2On88jcot
      VtxkgMtaZvuQso2Ff0dfowDWXAJk/Q07AHPzNxjZM3rF/Ja+Rz/hzKih5bcN7mWv
      zqYMOG/Uj9+X/X8aS9U8BGcD9I10Bul59ltJ5WmN
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/MSQwIgYDVQQK
      ExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMTDkRTVCBSb290IENBIFgzMB4X
      DTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0NlowSjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxl
      dCdzIEVuY3J5cHQxIzAhBgNVBAMTGkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4
      S0EFq6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8SMx+yk13
      EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0Z8h/pZq4UmEUEz9l6YKH
      y9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWAa6xK8xuQSXgvopZPKiAlKQTGdMDQMc2P
      MTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj/PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQAB
      o4IBfTCCAXkwEgYDVR0TAQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEE
      czBxMDIGCCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNvbTA7
      BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9kc3Ryb290Y2F4My5w
      N2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAwVAYDVR0gBE0wSzAIBgZngQwBAgEw
      PwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcCARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNy
      eXB0Lm9yZzA8BgNVHR8ENTAzMDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9P
      VENBWDNDUkwuY3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJouM2VcGfl96S8
      TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/wApIvJSwtmVi4MFU5aMqrSDE
      6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwuX4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPM
      TZ+sOPAveyxindmjkW8lGy+QsRlGPfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M
      +X+Q7UNKEkROb3N6KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEA+vV9ovWf+rVtctyPw4O/k72EYy0XTvfOj21gQaVcYvnok1i4
      wODMftwte81EuaDwEU2xT0WHVB7zjGgl06kvBvCzO22IOI95cg4c7YL4ACbQ9eCj
      m26ua3kY4vbTrprktgdon+nkFitt/TpDQgRORP5zptNbHVsbsWKDkuPre/A1rkn7
      CUKzKOfVMKl63WmzVwTzcg4HJhFHAMaT7trxrhtcIgTSkr3A772HHbY5ATheXWnl
      kJTSbQrrPr1ruPQSA5QxLmdlVtrIbuLiQR8zOiLs5upC44aU/Wjjk6jKK6CJrVWZ
      L6Vi/IFrm/XCyNVSisJizPIDBUy8LsGOryizywIDAQABAoIBAQDWpV4+IYQhtUfV
      tFyqR2d2f+RZx1lmS4G7HzvzKfJpHYMVdA8huaRu5PdqKlmbw9FRm3gKa1eiVY7O
      Cs4/yTbV4s4KCFc4uU6QhQ2tABYKWyjjBK4q5XH9rmfgyGipsQXpw1BzZmOVqrO6
      oTihoHkpfdGBYMlPxHtdLvuGibcCGvLYPnVbSElTT1wcPbsztd/wgaJsJo78i3dY
      8P8oDJ4W5hyn2N1q1yT01cvQa8NY0MC8t/SoVTm3k+iP71MNLEvsCrzsFYPYcIUs
      DlRbbICO2H05PMDkFFU64ncjbYd5ol0yTfYVVEGDlg8RsIh3cvMHlXuDBCgp7F2a
      DkWU0HCBAoGBAP0koPGphjlzrZekwSOBtt5KHJGnF6el4ftcAnbbvdu36ydu9dYw
      p9PGZdrjYdsg9M1kW4T87XrE9CQJ8XIeFlFeF5+q98N86ONCWKPR02b2tbT0fQMW
      S2xJwdN0hOs5u8+SWKLZTXHkEoAOQFshFMYPU+qSXrW+1Uzotz1213jhAoGBAP3K
      jUCui+N9voEMiLN+83m5+PcW/7ZE5xdgcRpWu+hy7AWvym3WqTRqkwzddzImEN2A
      Fz15Klxpaa/xSZv/N0LeeI3dfJWqrwR5RwZHnSVVHVBFrwg1QyeJQ0qpiUOKwKTI
      k1Dp67oSmTw1VqgdRgNnsMTJwyP/hRxJ8O0fxiYrAoGBAMwUkpghRm/c3Y9KqNaa
      RbZR41RddEmZB2Wg2O+/2gFf9fm1kAXc9gBai1T7SbHikNlhVhMR4da/H+BKD9gj
      f3SbucnkiJiWhB5rJ5DyoU76CKXZEUvC1o13rQZvgpUs10fRwRmQvMnbyDpqwuF0
      +w1t4AZVeHtnXQkC+G9Z9v6hAoGBAOO2wUTfGE83PR5nU6TSbL20uwlhTnGJo1vb
      QcBjQFkR/Gohz9z79Xg9g9HQSKnrc8h6rN+QfwzJ3HVsZyKcPUY3fS21JJrZug2m
      j663xO2BUDr9O05/E9E+nO057xp2PeHcwimgqcyb8XgPV8Ch+3cEq5v2eKwtEY9P
      XOg2UUFfAoGAb/BIHNo268ITzKfY7h5FqHuLfY4l0MZvRPANW97pgHQ0STCRC6m5
      kBUfMNM/FU5OfDkDlVhyHfG6pUteMCgkQFnghQa20OaB2b0TYIDh38aWEDvYbP+J
      8b4llR6vSGm2t7A8IQjFuivgqblYa3LonGHMyehdNDfLeSB1F0srFdw=
      -----END RSA PRIVATE KEY-----